vetting-output.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    ns="http://common-criteria.rhcloud.com/app-vetting/1.0"
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"	 
    xmlns:htm="http://www.w3.org/1999/xhtml"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <start>
    <!-- { --> <element name="report">   
      <a:annotation>
	App Vetting Report
      </a:annotation>

      <!-- { --> <element name="app-info"> 
	<a:annotation>
	  Section containing App meta data.
	</a:annotation>
	<!-- { --> <element name="name"><text/></element> <!-- } -->
	<optional><ref name="description"/></optional>
	<optional>
          <!-- { --> <element name="vendor"> 
	    <attribute name="name"/>
	    <optional>
	      <attribute name="url"/>
	    </optional>
	    <zeroOrMore>
	      <choice>
		<!-- { --> <element name="us-address">  <!-- Use Addressses -->
		  <!-- { --> <element name="street1"> 
		    <text/>
		  </element> <!-- } --> 
		  <!-- { --> <element name="street2"> 
		    <text/>
		  </element> <!-- } --> 
		  <!-- { --> <element name="city"> 
		    <data type="NCName"/>
		  </element> <!-- } --> 
		  <!-- { --> <element name="state"> 
		    <data type="NCName"/>
		  </element> <!-- } --> 
		  <!-- { --> <element name="postalcode"> 
		    <data type="integer"/>
		  </element> <!-- } --> 
		</element> <!-- } --> 
		<!-- { --> <element name="address">  <!-- Foreign addresses -->
		  <text/>
		</element> <!-- } --> 
	      </choice>
	    </zeroOrMore>
          </element> <!-- } --> 
	</optional>
	<a:annotation>
	  Classname
	</a:annotation>
	<optional>
	  <!-- { --> <element name="package-identification"> 
            <data type="NCName"/>
	  </element> <!-- } --> 
	</optional>
	
	<a:annotation>Vendor-supplied version of the App</a:annotation>
	<ref name="version"/>
	<oneOrMore>
	  <!-- { --> <element name="platform"> 
            <!-- { --> <element name="type"> 
              <data type="NCName"/>
            </element> <!-- } --> 
	    <optional>
              <!-- { --> <element name="min-version"> 
		<text/>
              </element> <!-- } --> 
	    </optional>
	    <optional>
              <!-- { --> <element name="max-version"> 
		<text/>
              </element> <!-- } --> 
	    </optional>
            <ref name="info"/>
	  </element> <!-- } --> 
	</oneOrMore>
	<optional>
	  <!-- { --> <element name="hash"> 
            <attribute name="type">
              <data type="NCName"/>
            </attribute>
            <text/>
	  </element> <!-- } --> 
	</optional>
	<optional>
	  <!-- { --> <element name="signature"> 
            <attribute name="type"/>
            <text/>
	  </element> <!-- } --> 
	</optional>

	<optional>
	  <!-- { --> <element name="category"> 
            <data type="NCName"/>
	  </element> <!-- } --> 
	</optional>

	<optional>
	  <!-- { --> <element name="apptype"> 
            <data type="NCName"/>
	  </element> <!-- } --> 
	</optional>

	<optional>
	  <element name="platform">
	    <a:annotation>
	      Should describe the platform this application intends to run on.
	    </a:annotation>
	    <text/>
	  </element>

	<optional>
	  <!-- { --> <element name="filename"> 
            <data type="NCName"/>
	  </element> <!-- } --> 
	</optional>
	<ref name="info"/>
      </element> <!-- } --> 
      <oneOrMore> 
	<!-- { --> <element name="evaluation">  
	  <!-- { --> <element name="environment">  
	    <oneOrMore>
              <!-- { --> <element name="tester"> 
		<!-- { --> <element name="name"><text/></element> <!-- } -->
		<optional>
		  <!-- { --> <element name="org"> 
		    <text/>
		  </element> <!-- } --> 
		</optional>
		<optional>
		  <!-- { --> <element name="email"> 
		    <text/>
		  </element> <!-- } --> 
		</optional>
		<ref name="info"/>
              </element> <!-- } --> 
	    </oneOrMore>
	    <!-- { --> <element name="date-started"> 
              <text/>
	    </element> <!-- } --> 
	    <!-- { --> <element name="date-completed"> 
              <text/>
	    </element> <!-- } --> 
	    <!-- { --> <element name="test-devices"> 
              <oneOrMore>
		<!-- { --> <element name="test-device"> 
		  <ref name="version-attr"/>
		  <text/>
		</element> <!-- } --> 
              </oneOrMore>
	    </element> <!-- } --> 
	    <ref name="info"/>
	  </element> <!-- } --> 

	  <zeroOrMore>
	    <!-- { --> <element name="niap-requirements"> 
	      <attribute name="source-document"/>
	      <attribute name="version">
		<a:documentation>
		  The version of the Application Software Protection Profile (e.g. 1.0, 1.1, 1.2)
		</a:documentation>
		<data type="string">
		  <param name="pattern">[0-9]+\.[0-9]</param>
		</data>
	      </attribute>
	      <attribute name="url">
		<data type="anyURI"/>
	      </attribute>
	      <oneOrMore>
		<choice>
		  <ref name="section"/>
		  <ref name="subsection"/>
		  <ref name="requirement"/>
		</choice>
	      </oneOrMore>
	      <ref name="info"/>
	    </element> <!-- } --> 
	  </zeroOrMore>
	  
	  <zeroOrMore>
	    <!-- { --> <element name="other-requirements"> 
	      <attribute name="scheme"/>
	      <optional>
		<attribute name="url"/>
	      </optional>

	      <zeroOrMore>
		<ref name="recursive-sections"/>
	      </zeroOrMore>
	    </element> <!-- } --> 
	  </zeroOrMore>
	  <ref name="info"/>
	</element> <!-- } --> 
      </oneOrMore>

    </element> <!-- } --> 
  </start>
  <!-- Start piecemeal definitions -->
  <define name="recursive-sections">
    <element name="section">
      <optional><attribute name="id"/></optional>
      <zeroOrMore>
	<choice>
	  <ref name="recursive-sections"/>
	  <element name="requirement">
	    <attribute name="id"/>
	    <optional><attribute name="url"/></optional>
	    <ref name="results-section"/>
	    <oneOrMore>
	      <!-- { --> <element name="activity"> 
		<!-- { --> <element name="summary">
		  <ref name="html-content"/>
		</element> <!-- } -->
		<optional>
		  <!-- { --> <element name="transcript"> 
		    <oneOrMore>
		      <choice>
			<!-- { --> <element name="input"><text/></element> <!-- } -->
			<!-- { --> <element name="output"><text/></element> <!-- } --> 
			<ref name="info"/>
			<text/>
		      </choice>
		    </oneOrMore>
		    <text/>
		  </element> <!-- } --> 
		</optional>
		<optional>
		  <a:documentation>
		  </a:documentation>
		  <!-- { --> <element name="tools">
		    <oneOrMore>
		      <!-- { --> <element name="tool">
			<attribute name="name"/>
			<optional><attribute name="url"/></optional>
			<optional><attribute name="description"/></optional>
		      </element> <!-- } -->
		    </oneOrMore>
		  </element> <!-- } -->
		</optional>
	      </element> <!-- } -->
	      <ref name="info"/>
	    </oneOrMore>

	  </element>
	  <ref name="info"/>
	</choice>
      </zeroOrMore>
    </element>
  </define>


  <define name="section">
    <!-- { --> <element name="section"> 
      <attribute name="id">
	<data type="NCName"/>
      </attribute>
      <choice>
	<oneOrMore><ref name="subsection"/></oneOrMore>
	<oneOrMore><ref name="requirement"/></oneOrMore>
      </choice>
      <ref name="info"/>
    </element> <!-- } --> 
  </define>

  <define name="subsection">
    <!-- { --> <element name="subsection"> 
      <attribute name="id"/>
      <choice>
	<element name="not-tested"> 
	  <optional><text/></optional>
	</element> <!-- } --> 
	<element name="not-applicable"> 
	  <optional><text/></optional>
	</element> <!-- } --> 
	<oneOrMore>
	  <ref name="requirement"/>
	</oneOrMore>
      </choice>
    </element> <!-- } --> 
  </define>

  <define name="version-attr">
    <attribute name="version"><text/></attribute>
  </define>

  <define name="version">
    <!-- { --> <element name="version"><text/></element> <!-- } -->  
  </define>

  <define name="description">
    <!-- { --> <element name="description"><text/></element> <!-- } -->  
  </define>

  <define name="info">
    <a:annotation>
      This is a generic tree-like structure that hopefully 
      lets users expand the report structure as necessary.
    </a:annotation>

    <zeroOrMore>
      <!-- { --> <element name="info"> 
	<optional>
	  <a:annotation>
	    Meta-data section that defines the type of data.
	  </a:annotation>
	  <attribute name="type"/>
	</optional>
	<text/>
	<ref name="info"/>
      </element> <!-- } --> 
    </zeroOrMore>
  </define>


  <define name="requirement">
    <!-- { --> <element name="requirement"> 
      <attribute name="id">
	<data type="string">
	  <param name="pattern">[a-z]+_[a-z]+(_ext)?\.[0-9]+\.[0-9]+[a-z]*</param>
	</data>
      </attribute>
      <optional>
	<element name="applied-text">
	  <a:annontation>
	    The content for this element should be the exact text that this requirement was evaluated against with selections selected and assignments assigned.
	  </a:annontation>
	  <ref name="applied-text-content"/>
	</element>
      </optional>
      <optional>
	<ref name="results-section"/>
	<oneOrMore>
	  <!-- { --> <element name="activity"> 
	    <!-- { --> <element name="summary">
	      <ref name="html-content"/>
	    </element> <!-- } -->
	    <optional>
	      <!-- { --> <element name="transcript"> 
		<oneOrMore>
		  <choice>
		    <!-- { --> <element name="input"><text/></element> <!-- } -->
		    <!-- { --> <element name="output"><text/></element> <!-- } --> 
		    <ref name="info"/>
		    <text/>
		  </choice>
		</oneOrMore>
		<text/>
	      </element> <!-- } --> 
	    </optional>
	    <optional>
	      <a:documentation>
	      </a:documentation>
	      <!-- { --> <element name="tools">
		<oneOrMore>
		  <!-- { --> <element name="tool">
		    <attribute name="name"/>
		    <optional><attribute name="url"/></optional>
		    <optional><attribute name="description"/></optional>
		  </element> <!-- } -->
		</oneOrMore>
	      </element> <!-- } -->
	    </optional>
	  </element> <!-- } -->
	  <ref name="info"/>
	</oneOrMore>
      </optional>
    </element> <!-- } --> 
  </define>

  <define name="html-content">
    <a:documentation>
      Pattern that defines text that can be marked up with HTML content.
    </a:documentation>
    <oneOrMore>
      <choice>
	<text/>
	<ref name="html-element"/>
      </choice>
    </oneOrMore>
  </define>

  <define name="html-element">
    <a:documentation>
      Pattern defines the html-element, which is any element in the xhtml namespace.
    </a:documentation>
    <!-- { --> <element ns="http://www.w3.org/1999/xhtml">
      <anyName>
	<except>
	  <nsName ns="http://common-criteria.rhcloud.com/app-vetting/1.0"/>
	</except>
      </anyName>
      <a:documentation>
	Defines all html-elements with an optional number of html attributes and descendants.
      </a:documentation>
      <zeroOrMore>
	<attribute>
	  <anyName/>
	</attribute>
      </zeroOrMore>
      <zeroOrMore>
	<choice>
	  <text/>
	  <ref name="html-element"/>
	</choice>
      </zeroOrMore>
    </element> <!-- } -->
  </define>

  <define name="results-section">
    <choice>
      <element name="passed"><empty/></element>
      <element name="failed"><empty/></element>
      <element name="incomplete-results"><optional><text/></optional></element>
      <element name="not-tested"><optional><text/></optional></element>
      <!-- 
	   Do we need more details for the not-applicable?
	   I don't think so, b/c we can look back at the 
	   original requirement. If it's a selectable,
	   we should be able to concur that it wasn't
	   selected. If it's optional or objective,
	   we should be able to concur the vendor opted
	   not to follow it.
      -->
      <element name="not-applicable"><optional><text/></optional></element>
    </choice>
  </define>

  <define name="applied-text-content">
    <oneOrMore>
      <choice>
	<text/>
	<element name="selection">
	  <ref name="applied-text-content"/>
	</element>
	<element name="assignment"><text/></element>
      </choice>
    </oneOrMore>
  </define>
</grammar>
